<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="http://127.0.0.1:5000" exactDestination="false" childOnly="false" />
        <rewrite>
            <rules>
                <rule name="rails">
                    <match url="^(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:5000/{R:1}" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^192.168.70.1$" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
